WeatherInfo
[{"id":"2639d2c8.af45ce","type":"tab","label":"WeatherInfo","disabled":false,"info":""},{"id":"c7534e43.dacd8","type":"ibmiot in","z":"2639d2c8.af45ce","authentication":"apiKey","apiKey":"f199a2ca.3172d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"WeatherInfo","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":80,"wires":[["5a9b86a0.f10388","cc207b8c.4642f8","dabfe01a.7d76","22183c69.ed40c4"]]},{"id":"5a9b86a0.f10388","type":"debug","z":"2639d2c8.af45ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"a0bc0c76.cfd07","type":"ui_gauge","z":"2639d2c8.af45ce","name":"","group":"c0791b24.737a98","order":5,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"units","format":"{{msg.payload.Temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":20,"wires":[]},{"id":"4fee03b2.87aa3c","type":"ui_gauge","z":"2639d2c8.af45ce","name":"","group":"a3cc1828.7d9ff8","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.Humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":160,"wires":[]},{"id":"b084607d.476da","type":"ui_gauge","z":"2639d2c8.af45ce","name":"","group":"e8fca711.cb4698","order":1,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"units","format":"{{msg.payload.Soilmoisture}}","min":"0.02","max":"0.05","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":240,"wires":[]},{"id":"f5782370.7829b","type":"cloudant out","z":"2639d2c8.af45ce","name":"","cloudant":"","database":"wiotdata","service":"node-red-deazt-2020--cloudant-1602184830135-21067","payonly":true,"operation":"insert","x":760,"y":20,"wires":[]},{"id":"3a3b4d5.cc9eab2","type":"http in","z":"2639d2c8.af45ce","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":300,"y":380,"wires":[["524db069.7f73a"]]},{"id":"aef12354.c43bd","type":"http response","z":"2639d2c8.af45ce","name":"","statusCode":"","headers":{},"x":630,"y":380,"wires":[]},{"id":"cc207b8c.4642f8","type":"function","z":"2639d2c8.af45ce","name":"Temperature","func":"global.set('Temp', msg.payload.Temp)\nmsg.payload.Temp=msg.payload.Temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":40,"wires":[["a0bc0c76.cfd07","5a9b86a0.f10388"]]},{"id":"dabfe01a.7d76","type":"function","z":"2639d2c8.af45ce","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload.Humidity=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":160,"wires":[["4fee03b2.87aa3c","5a9b86a0.f10388"]]},{"id":"22183c69.ed40c4","type":"function","z":"2639d2c8.af45ce","name":"Soil Moisture","func":"global.set('Soilmoisture', msg.payload.Soilmoisture)\nmsg.payload.Soilmoisture=msg.payload.Soilmoisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":260,"wires":[["b084607d.476da","5a9b86a0.f10388"]]},{"id":"524db069.7f73a","type":"function","z":"2639d2c8.af45ce","name":"","func":"msg.payload={'Temp':global.get(\"Temp\"),'Humidity':global.get(\"Humidity\"),'Soilmoisture':global.get(\"Soilmoisture\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":380,"wires":[["aef12354.c43bd"]]},{"id":"d6f8d4b6.5aa658","type":"ibmiot out","z":"2639d2c8.af45ce","authentication":"apiKey","apiKey":"f199a2ca.3172d","outputType":"cmd","deviceId":"1234","deviceType":"WeatherInfo","eventCommandType":"Home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":670,"y":480,"wires":[]},{"id":"229f3b19.c25584","type":"ui_button","z":"2639d2c8.af45ce","name":"","group":"de65e1c5.d373","order":0,"width":"3","height":"1","passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":300,"y":460,"wires":[["d6f8d4b6.5aa658"]]},{"id":"4003d060.ad8e1","type":"ui_button","z":"2639d2c8.af45ce","name":"","group":"de65e1c5.d373","order":1,"width":"3","height":"1","passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":290,"y":540,"wires":[["d6f8d4b6.5aa658"]]},{"id":"e2dd2585.7fc898","type":"http in","z":"2639d2c8.af45ce","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":270,"y":640,"wires":[["6ad8b63f.da1448"]]},{"id":"6ad8b63f.da1448","type":"function","z":"2639d2c8.af45ce","name":"command","func":"msg.payload= msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":640,"wires":[["530714f5.1b3edc","d6f8d4b6.5aa658","1c2a49d4.f20056"]]},{"id":"530714f5.1b3edc","type":"http response","z":"2639d2c8.af45ce","name":"","statusCode":"","headers":{},"x":660,"y":640,"wires":[]},{"id":"1c2a49d4.f20056","type":"debug","z":"2639d2c8.af45ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":580,"wires":[]},{"id":"f199a2ca.3172d","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"1vhckx.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"c0791b24.737a98","type":"ui_group","z":"","name":"Home","tab":"385ddd5c.b5fd52","order":1,"disp":true,"width":"6","collapse":false},{"id":"a3cc1828.7d9ff8","type":"ui_group","z":"","name":"Humidity","tab":"86527e96.d620e","order":2,"disp":true,"width":"6","collapse":false},{"id":"e8fca711.cb4698","type":"ui_group","z":"","name":"Soil Moisture","tab":"86527e96.d620e","order":3,"disp":true,"width":"6","collapse":false},{"id":"de65e1c5.d373","type":"ui_group","z":"","name":"Home","tab":"86527e96.d620e","order":4,"disp":false,"width":"6","collapse":false},{"id":"385ddd5c.b5fd52","type":"ui_tab","z":"","name":"Weather","icon":"fa-thermometer-half","order":3,"disabled":false,"hidden":false},{"id":"86527e96.d620e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
[{"id":"38a191f7.91131e","type":"tab","label":"OpenWetherInfo","disabled":false,"info":""},{"id":"a6c4dbd4.f716b8","type":"http request","z":"38a191f7.91131e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q=Vellore,IN&units=metric&appid=2fd2038f8e18e1d002504f60c3666909","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":220,"wires":[["5ad0278a.0f7538","299d43ec.8f5ebc","92469cb3.4bd63","7f30d490.91e20c","e5c450cf.296a"]]},{"id":"5ad0278a.0f7538","type":"debug","z":"38a191f7.91131e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"38c4998a.6772f6","type":"inject","z":"38a191f7.91131e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":220,"wires":[["a6c4dbd4.f716b8"]]},{"id":"a052332c.527c5","type":"debug","z":"38a191f7.91131e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.temp","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":280,"wires":[]},{"id":"299d43ec.8f5ebc","type":"change","z":"38a191f7.91131e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":380,"wires":[["bab2b76e.2c4138"]]},{"id":"92469cb3.4bd63","type":"change","z":"38a191f7.91131e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":460,"wires":[["43cff832.c84138"]]},{"id":"bab2b76e.2c4138","type":"ui_text","z":"38a191f7.91131e","group":"c0791b24.737a98","order":2,"width":0,"height":0,"name":"","label":"Temperature (0C)","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":380,"wires":[]},{"id":"43cff832.c84138","type":"ui_text","z":"38a191f7.91131e","group":"c0791b24.737a98","order":4,"width":0,"height":0,"name":"","label":"Humidity (%)","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":460,"wires":[]},{"id":"7f30d490.91e20c","type":"change","z":"38a191f7.91131e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.feels_like","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":420,"wires":[["dcca2c58.da94f"]]},{"id":"dcca2c58.da94f","type":"ui_text","z":"38a191f7.91131e","group":"c0791b24.737a98","order":3,"width":0,"height":0,"name":"","label":"Feels Like Temperature (0C)","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":420,"wires":[]},{"id":"e5c450cf.296a","type":"change","z":"38a191f7.91131e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":340,"wires":[["dd13d751.d98508"]]},{"id":"dd13d751.d98508","type":"ui_text","z":"38a191f7.91131e","group":"c0791b24.737a98","order":1,"width":0,"height":0,"name":"","label":"Station Name","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":340,"wires":[]},{"id":"c0791b24.737a98","type":"ui_group","z":"","name":"Home","tab":"385ddd5c.b5fd52","order":1,"disp":true,"width":"6","collapse":false},{"id":"385ddd5c.b5fd52","type":"ui_tab","z":"","name":"Weather","icon":"fa-thermometer-half","order":3,"disabled":false,"hidden":false}]
